policy_module(helio, 1.100.1)

########################################
#
# Declarations
#

type helio_t;
type helio_exec_t;
init_daemon_domain(helio_t, helio_exec_t)

permissive helio_t;

type helio_initrc_exec_t;
init_script_file(helio_initrc_exec_t)

type helio_conf_t;
files_type(helio_conf_t)

type helio_var_lib_t;
files_type(helio_var_lib_t)

type helio_var_run_t;
files_type(helio_var_run_t)

type helio_port_t;
corenet_port(helio_port_t)

########################################
#
# helio local policy
#
allow helio_t self:process { fork };

allow helio_t self:fifo_file rw_fifo_file_perms;
allow helio_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(helio_t, helio_conf_t, helio_conf_t)
manage_files_pattern(helio_t, helio_conf_t, helio_conf_t)

manage_dirs_pattern(helio_t, helio_var_lib_t, helio_var_lib_t)
manage_files_pattern(helio_t, helio_var_lib_t, helio_var_lib_t)
files_var_lib_filetrans(helio_t, helio_var_lib_t, { dir file })

manage_dirs_pattern(helio_t, helio_var_run_t, helio_var_run_t)
manage_files_pattern(helio_t, helio_var_run_t, helio_var_run_t)

sysnet_dns_name_resolve(helio_t)
corenet_all_recvfrom_unlabeled(helio_t)

allow helio_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(helio_t)
corenet_tcp_sendrecv_generic_node(helio_t)
corenet_tcp_sendrecv_all_ports(helio_t)
corenet_tcp_bind_generic_node(helio_t)

gen_require(`
    type helio_port_t;
')
allow helio_t helio_port_t:tcp_socket name_bind;

gen_require(`
    type helio_port_t;
')
allow helio_t helio_port_t:tcp_socket name_connect;

domain_use_interactive_fds(helio_t)

files_read_etc_files(helio_t)

miscfiles_read_localization(helio_t)

sysnet_dns_name_resolve(helio_t)

allow helio_t helio_exec_t:file execute_no_trans;
allow helio_t self:process setsched;
corecmd_exec_ls(helio_t)
corenet_tcp_connect_http_port(helio_t)
dev_read_urand(helio_t)
fs_getattr_xattr_fs(helio_t)
kernel_read_system_state(helio_t)
