
## <summary>policy for helio</summary>


########################################
## <summary>
##	Transition to helio.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`helio_domtrans',`
	gen_require(`
		type helio_t, helio_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, helio_exec_t, helio_t)
')


########################################
## <summary>
##	Execute helio server in the helio domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`helio_initrc_domtrans',`
	gen_require(`
		type helio_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, helio_initrc_exec_t)
')


########################################
## <summary>
##	Search helio lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`helio_search_lib',`
	gen_require(`
		type helio_var_lib_t;
	')

	allow $1 helio_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read helio lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`helio_read_lib_files',`
	gen_require(`
		type helio_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, helio_var_lib_t, helio_var_lib_t)
')

########################################
## <summary>
##	Manage helio lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`helio_manage_lib_files',`
	gen_require(`
		type helio_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, helio_var_lib_t, helio_var_lib_t)
')

########################################
## <summary>
##	Manage helio lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`helio_manage_lib_dirs',`
	gen_require(`
		type helio_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, helio_var_lib_t, helio_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a helio environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`helio_admin',`
	gen_require(`
		type helio_t;
		type helio_initrc_exec_t;
		type helio_var_lib_t;
	')

	allow $1 helio_t:process { ptrace signal_perms };
	ps_process_pattern($1, helio_t)

	helio_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 helio_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, helio_var_lib_t)

')

