# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Helio Coin Daemon SNAP
Comment=main
GenericName=Helio_Coin Digital Currency Daemon Client main network
Exec=helio-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/helio.png
MimeType=x-scheme-handler/hlo;
Categories=X-Office;X-Finance;
Keywords=internet;helio;zhlo;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
